p {
    font-size: 24px;
    color: #333;
}
i {
    font-size: 30px;
    color: #1E90FF;
    margin: 10px;
  }
  i:hover {
    color: red;
    transform: scale(1.2);
  }
  nav {
    background: #f4f4f4;
    padding: 10px;
  }
  
  nav i {
    font-size: 24px;
    margin-right: 20px;
    color: #555;
  }

  